*{
    margin: 5px;
    padding: 0;
}
body{
    background-color: #FDFCDC;
    color: rgb(0, 0, 0);
    text-align: center;
}
.heading{
    height: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 70vh;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    margin-left: 500px;
    margin-top: 60px;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 6%;
    background-color: #00AFB9;
    font-size: 8vmin;
    color: black;
}
.reset{
    height: 40px;
    background-color: black;
    color: #00AFB9;
    width: 120px;
    font-size: 20px;
    border-radius: 6%;
    border: none;
}
.new{
    height: 40px;
    background-color: black;
    color: #00AFB9;
    width: 120px;
    font-size: 20px;
    border-radius: 6%;
    border: none;
}
p{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.hover{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;

}
.hide{
    display: none;
}
